/* Universal selector */
* {
    background-color: #f3d5d5;
}

/* Selector List */
em,i {
    color: rebeccapurple;
    font-weight: 900;
}

/* id selector */
#form {
    font-family:fantasy;
}

/* attribute selector */
a[href] {
    background-color: grey;
}

/* pseudo-class selector */
div:hover {
    color:red;
}

/* element selector */
h1 {
    text-align: center;
    background-color: pink;
}

/* Descendant combinator */
ol li {
    text-indent: 20px;
}

/* Child combinator */
ul > li {
    color: darkblue;
}

/* Adjacent Sibling combinator */
h3 + mark {
    color: maroon;
}

/* General Sibling combinator */
mark ~ mark {
    color: maroon;
}

/* Combining Two Selectors combinator */
h4#subscribe {
    color: teal;
}